.DS_Store
.project
.settings
.ipynb_checkpoints
testchain/geth/*
testchain/geth.ipc
testchain/history
private
*.pyc
build
node_modules

boksTest/testchain/geth
boksTest/testchain/geth.ipc
boksTest/testchain/history
ipfs
